h1{
    text-align: center;
    font-size: 50px;
    background-color: rgb(0, 38, 255);
    color: white;
    margin-top: -20px;
    padding: 20px;
}
img{
    max-width: 600px;
    
}
.ten{
    padding: 10px;
}
div{
    text-align: center;
}
body{
    margin: 0;
}
h2{
    text-align: center;
}
.prod{
    text-align: center;
    margin-top: -40px;
}
.con{
    text-align: end;
    margin-top: -40px;
}
h3{
    border: 0;
    margin-right: 35px;
    
}